@import "./variables";
@import "./reset";
@import "./header";

body {
    font: normal 62.5% $font_stack;
    background: $background_color;
    position: relative;
    color: $font_color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    padding: 30px;
}

.loading {
    height: 50px;
    background: url('../images/loading.svg') no-repeat center center;
    background-size: 50px;
}


section#seven_days {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;

    @media(min-width: $mobile_width) {}

    .day {
        text-align: center;
        flex: 1;
        position: relative;
        // transition: all 0.3s;
        min-height: 400px;

        margin: 0 0 30px;
        min-width: 250px;

        @media(min-width: $mobile_width) {
            min-width: 180px;
            min-height: 320px;
            margin: 0;

            &:hover {
                // flex: 2;
            }
        }




        padding: 20px 30px 70px;

        background-color: white;
        border-top: 5px solid $brand_color;

        box-shadow: $box_shadow;

        &.weather_01d {
            border-color: $sun_color;

            h3 .dayOfWeek {
                color: $sun_color;
            }
        }

        &.weather_10d {
            border-color: $rain_color;

            h3 .dayOfWeek {
                color: $rain_color;
            }

        }

        &.weather_02d,
        &.weather_02n,
        &.weather_04n,
        &.weather_04d,
        &.weather_03d,
        &.weather_03n {
            border-color: $cloud_color;

            h3 .dayOfWeek {
                color: $cloud_color;
            }

        }

        &.weather_13d {
            border-color: $snow_color;

            h3 .dayOfWeek {
                color: $snow_color;
            }
        }




        h3 {
            font-size: 2.3em;
            text-transform: uppercase;
            position: relative;

            .dayOfWeek {
                color: $brand_color;

            }

            .hour_time {
                position: absolute;
                bottom: -20px;
                width: 100%;
                left: 0;
                font-size: 80%;
                color: transparentize($font_color, 0.5);

            }
        }
    }



}


.temperatures {
    font-size: 2.5em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .low_temperature,
    .high_temperature {
        position: relative;
    }

    .low_temperature {
        opacity: 0.8;
    }

    .degree_symbol {
        position: absolute;
        font-size: 80%;
        color: transparentize($font_color, 0.5);
    }

    .temperature_unit {
        display: none
    }
}


.weather_description {
    // font-style: italic;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: transparentize($font_color, 0.5);
    margin: 5px 0 0;

    .icon_wind {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: 20px;
        position: relative;
        top: 5px;
        left: 4px;
        opacity: 0.5;
    }

}

.wind_units {
    display: none;
}


.rain_thing {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
}

.rain_probability {
    background-color: adjust-color($color: $rain_color, $lightness: +35%);
    border-radius: 5px;

    .rain_inner {
        height: 5px;
        background-color: $rain_color;
        border-radius: 5px;

    }
}


.sun_line_chart,
.rain_chance_graph,
.temperature_bar_chart {
    display: flex;
    flex-wrap: nowrap;
    gap: 1px;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    width: 100%;

    position: relative;

    @media(min-width: $mobile_width) {
        height: 70px;
        opacity: 0.9;
    }

    &:after {
        content: '';
        border-bottom: 5px solid adjust-color($color: $rain_color, $lightness: +35%);
        position: absolute;
        width: 100%;
        bottom: 0;
        border-radius: 5px;

    }

    li {
        display: block;
        flex-grow: 1;
        // flex-grow: 0; 
        // width: 10px;
        border-radius: 2px 2px 0 0;
        // text-indent: -9999px;
        height: 20px;
        position: relative;
        z-index: 2;
        top: -5px;
        opacity: 0.3;
        // background-color: $rain_color;
        background-image: radial-gradient($rain_color 1px, transparent 0);
        background-size: 2px 2px;


        span {
            position: absolute;
            bottom: -16px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 0.8em;
            opacity: 0.5;



        }
    }
}



.sun_line_chart {
    // width: 100%;
    // height: 30px;
    // outline: 2px solid red;
    z-index: 20;
    top: -5px;

    polyline {
        stroke: $sun_color;
        fill: none;
        stroke-width: 1;

        @media(min-width: $mobile_width) {
            stroke-width: 2;
        }
    }

    polygon {
        fill: lighten($sun_color, 10);
        fill: url(#Gradient1);
        opacity: 0.5;
        transition: all 0.3s;

        &.focussed {
            opacity: 0.7;
        }
    }
}




.temperature_line_graph {
    height: 300px;
    position: absolute;
    top: 0px;
    z-index: -1;
    left: 0;

    .temp {
        position: absolute;
        top: 50%;
        background-color: $sun_color;
        height: 3px;
        border-radius: 50%;
        width: 3px;
        text-indent: -9999px;
    }
}


.temperature_bar_chart {
    // position: absolute;
    // bottom: 0;
    // height: 100px;
    // left: 0;
    // width: 100%;
    z-index: 3;
    position: relative;

    gap: 0;
    // filter: blur(1px);

    &:after {
        content: none;
    }

    li {
        background-color: transparent;
        background: linear-gradient(0deg, transparentize($sun_color, 0.8), $sun_color);
        position: relative;
        // width: 100%;
        opacity: 0.7;


        // &:after {
        //     content: '';
        //     width: 100%;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background-color: $sun_color;
        //     height: 3px;
        //     border-radius: 5px;
        // }


        &.focussed {
            opacity: 1;

        }


        span.record_temp {
            opacity: 0.8;
            top: -10px;
            z-index: 10;
            text-shadow: 0 1px 0px white, 0 -1px 0 white;
        }
    }
}

.icon {


    // https://www.svgrepo.com/collection/weather-line-icons/

    display: block;
    width: 100%;
    height: 150px;

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 170px;


    @media(min-width: $mobile_width) {
        height: 110px;
        background-size: 100px;


    }

    &.icon_01d,
    &.icon_01n {

        //sunny
        background-image: url('../images/weathers/sunny.svg');
    }

    &.icon_10d,
    &.icon_10n {
        //rainy
        background-image: url('../images/weathers/rainy.svg');

    }

    &.icon_02d,
    &.icon_02n {
        background-image: url('../images/weathers/sunny_cloudy.svg');

    }

    &.icon_03n,
    &.icon_04n,
    &.icon_03d,
    &.icon_04d {
        //cloudy
        background-image: url('../images/weathers/cloudy.svg');

    }



    &.icon_13d,
    &.icon_13n {
        // snowy
        background-image: url('../images/weathers/snowy.svg');

    }

    &.icon_50d,
    &.icon_50n {
        // foggy
        background-image: url('../images/weathers/foggy.svg');

    }

    &.icon_wind {
        background-image: url('../images/arrow.svg');


    }
}

.animated {
    .icon {
        &.icon_01d {
            //sunny
            background-image: url('../images/amcharts/animated/day.svg');
        }

        &.icon_10d {
            //rainy
            background-image: url('../images/amcharts/animated/rainy-6.svg');

        }

        &.icon_02d,
        &.icon_03d,
        &.icon_04d {
            //cloudy
            background-image: url('../images/amcharts/animated/cloudy.svg');

        }

        &.icon_02d {
            background-image: url('../images/amcharts/animated/cloudy-day-1.svg');

        }



        &.icon_13d {
            // snowy
            background-image: url('../images/amcharts/animated/snowy-6.svg');

        }


    }
}

.button_group {
    margin: 30px 0 0;
    display: flex;
    flex-wrap: wrap;

    .button {
        flex-grow: 1;
        text-align: center;
    }
}

.button {
    padding: 10px 30px;
    background-color: white;
    margin: 0 3px 3px 0;

    border-radius: 2px;
    box-shadow: $box_shadow;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: $brand_color;

    &.primary {
        background-color: $brand_color;
        color: white;
    }
}